<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73230910442-f1jq103ro2pvus7pha7k2hes5aaad7cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73230910442-f1jq103ro2pvus7pha7k2hes5aaad7cn</string>
	<key>API_KEY</key>
	<string>AIzaSyClmfDyqdQW83SxaFLEO6XU4UQwqrKM0l4</string>
	<key>GCM_SENDER_ID</key>
	<string>73230910442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blacenovas.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-22e1d</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-22e1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73230910442:ios:7dc8609697a3334c266893</string>
</dict>
</plist>